<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:fragment="header">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>mourn</title>
		<link rel="icon" type="image/x-icon" href="../../favicon.ico">
		<link rel="stylesheet" href="../css/amazeui.css">
		<link rel="stylesheet" href="../css/font-awesome.css">
		<link rel="stylesheet" href="../css/app.css">
	 	<script src="../js/jquery.min.js"></script>
		<script src="../js/amazeui.min.js"></script>
		<script src="../js/jquery.cookie.js"></script>
		<script src="../js/app.js"></script>
</head>
<body>
	<nav class="am-topbar am-topbar-inverse" th:fragment="nav">
		<h1 th:text="#{app.company}"></h1>
		<h1 class="am-topbar-brand">导航</h1>
		<div class="am-collapse am-topbar-collapse " id="doc-topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav">
				<li id="common-nav-default"><a href="#default" tabindex="-1">首页</a></li>
				<li id="common-nav-second"><a href="#second" tabindex="-1">记录查询</a></li>
				<li id="common-nav-third"><a href="#third" tabindex="-1">记录添加</a></li>
				<li id="common-nav-fourth"><a href="#fourth" tabindex="-1">权限管理</a></li>
				<li id="common-nav-fifth"><a href="#fifth" tabindex="-1">其他</a></li>
			</ul>
			
			<button class="am-btn am-btn-primary" tabindex="-1">
  			<i class="am-icon-cog"></i>
  					设置
			</button>
			<div class="am-topbar-right">
	      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
	        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>
				<i class="am-icon-user"></i>
				<span th:text="'欢迎:'+ ${adminName}"></span>
				<span class="am-icon-caret-down"></span></button>
	        <ul class="am-dropdown-content">
				<li><a href="../access/logout">登出</a></li>
			  	<li><a href="#"></a></li>
			  	<li><a></a></li>
	        </ul>
	      </div>
    	</div>
		</div>
	</nav>
	<modal th:fragment="modal-alert">
		<!--<button type="button" class="am-btn am-btn-warning" id="doc-confirm-toggle">
			Confirm
		</button>-->
		<div class="am-modal am-modal-confirm" tabindex="-1" id="common-modal-alert">
			<div class="am-modal-dialog">
				<div class="am-modal-hd" th:text="#{app.company}"></div>
				<div class="am-modal-bd">
				</div>
				<div class="am-modal-footer">
					<span class="am-modal-btn" data-am-modal-confirm>确定</span>
					<!--<span class="am-modal-btn" data-am-modal-cancel>取消</span>-->
				</div>
			</div>
		</div>
	</modal>

	<loading th:fragment="loading-spin">
		<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="common-load-spin">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">正在载入...</div>
				<div class="am-modal-bd">
					<span class="am-icon-spinner am-icon-spin"></span>
				</div>
			</div>
		</div>
	</loading>

	<footer th:fragment="footer">
		<div class="am-panel-footer regular-footer am-text-center">NovaWind Mourn App</div>
	</footer>

</body>
</html>