<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>mourn:login</title>
	<src th:replace="common :: header"></src>
</head>
<body class="white-font">
	<div class="login-header">
		<div class="am-g">
			<h1 th:text="#{app.company}"></h1>
			<p>Light your eyes!</p>
		</div>
		<hr />
	</div>
	<div class="am-g">
		<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
			<h2>欢迎登录</h2>
			<hr class="smart-hr-line">
			<div class="am-btn-group"></div>
			<br>
			<form class="am-form am-form-horizontal" id="login-form">
				<div class="am-panel am-panel-danger hidden" id="login-deny">
					<div class="am-panel-hd" th:text="${deny}"></div>
				</div>
				<div class="am-input-group">
					<span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
					<input id="login-name" name="name" type="text" class="am-form-field transparent-input" placeholder="用户名" data-validation-message="请填写用户名" required/>
				</div>
				<br>
				<div class="am-input-group">
					<span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
					<input id="login-pwd" name="password" type="password" class="am-form-field transparent-input" placeholder="密码" data-validation-message="请填写密码" required/>
				</div>
				<br>
				<label for="remember-me">
					<input id="remember-me" type="checkbox"> 保持登录
				</label>
				<br>
				<div class="am-cf">
					<button type="submit" name=""
							class="am-btn am-btn-primary am-round am-btn-block" id="login-submit">登&nbsp;&nbsp;录</button>
					<!-- <br>
		<input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr"> -->
				</div>
			</form>
			<hr>
			<p>© 2017 novawind</p>
		</div>
	</div>
	<script src='../js/plugin/canvas-nest.min.js' color='0,250,250' opacity='0.9' zIndex='-1' count='150'></script>
	<canvas id="hive" style="position: absolute;top: 0;left: 0;z-index: -2;"></canvas>
	<script src="../js/plugin/hive.js"></script>
</body>
</html>
